.content__title {
    color: #FF8A65;
    font-size: 46px;
    line-height: 63px;
    margin: 266px 0 0 209px;
    width: 473px;
}

.content__subtitle {
    margin: 40px 0 0 209px;
    list-style: none;
    padding: 0;
}
.content__subtitle li {
    font-size: 18px;
    line-height: 32px;
    color: #757575;
    padding-bottom: 5px;
}
.content__subtitle li:before {
    color: #FF8A65;
    content: "\25CF";
    padding-right: 20px;
}